<address
  itemprop="address"
  itemscope
  itemtype="https://schema.org/PostalAddress"
>
  <span itemprop="addressLocality"><%= location.city %></span>,
  <span itemprop="addressRegion"><%= location.state %></span>
  <span itemprop="postalCode"><%= location.postal_code %></span>
</address>
