<address
  itemprop="address"
  itemscope
  itemtype="https://schema.org/PostalAddress"
>
  <span itemprop="addressLocality"><%= location.city %></span>,
  <span itemprop="addressRegion"><%= location.state %></span>
  <span itemprop="postalCode">
    <%= link_to location.postal_code, location_url(location) %>
  </span>
</address>
