<h1>Weather for Location</h1>

<p style="color: green"><%= notice %></p>

<%= render "form", location: Location.new %>

<div id="locations">
  <p>Recent Locations:</p>

  <ul>
    <% @locations.each do |location| %>
      <li>
        <%= render "location_address", location: location %>
      </li>
    <% end %>
  </ul>
</div>
